<div class="nav">
    <div class="title"><a href="/">Grant Lucas Muller</a></div>
    <div class="links"><a href="/now">now</a> / <a href="/writing">writing</a> / <a href="/music">music</a> / <a href="/projects">projects</a></div>
</div>
<hr />
