<div class="nav">
    <div class="title"><a href="/">Grant Lucas Muller</a></div>
    <div class="links"><a href="/projects">projects</a> / <a href="/essays">essays</a> / <a href="/now">now</a> / <a href="/music">music</a></div>
</div>
<hr />
