/* html {
  img {
    max-width: 100%;
    height: auto;
  }

  h1, h3, .title a {
    color: whitesmoke;
    font-family: --apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  }

  a {
    text-decoration: none;
  }

  .content {
    font-family: --apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  }
} */
