// @import url('https://fonts.cdnfonts.com/css/clarika-geometric');
// @import url('http://fonts.cdnfonts.com/css/bebas-neue');
// @import url('http://fonts.cdnfonts.com/css/futura-std-4');
// @import url('http://fonts.cdnfonts.com/css/ibm-plex-serif-2');

body {
  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: normal;
  }

  h3 {
    color: rgba(0,0,0,.7);
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  a {
    text-decoration: none;
  }

  .content {
    font-size: clamp(18px, 8px + .8vw, 20px);
    width: 95vw;
    max-width: 750px;

    h1, .title a {
      color: rgba(0,0,0,.7);
    }

    .nav {
      padding-top: .25rem;
    }

    .title {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .links {
      font-size: 1.1rem;
    }

    .date {
      font-size: smaller;
      font-weight: bold;
    }

    footer {
      text-align: center;
    }
  }
}